BOOTSTRAP_TOKEN=change-me  # Integration line: Vault
SERVICE_SECRET_TEST=change-me  # Integration line: Auth
INITIAL_SUPER_CREDENTIALS_DIRECTORY=../authservice/bootstrap-credentials  # Integration line: Auth
INITIAL_SUPER_CREDENTIALS_FILE=../authservice/bootstrap-credentials/initial-super-user.txt  # Integration line: Auth
AUTH_BASE_URL=http://auth-service:6001/api/auth # Integration line: Auth
EMAIL_BASE_URL=http://email-service:6005/api/email # Integration line: Email
MAILDEV_BASE_URL=http://maildev:1080 # Integration line: Email
REACT_BASE_URL=http://react-service # Integration line: React
FILE_BASE_URL=http://file-service:6010/api/file # Integration line: File
VAULT_BASE_URL=http://vault-service:6020/api/vault # Integration line: Vault
